@font-face {
  font-family: neuu;
  src: url("./fonts/NeueHaasDisplayMediu.ttf");
}
@font-face {
  font-family: thin-neuu;
  src: url("./fonts/NeueHaasDisplayRoman.ttf");
}
@font-face {
  font-family: thin-neuu;
  font-weight: 200;
  src: url("./fonts/NeueHaasDisplayLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neuu;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000;
}
:root {
  --bgcolor: #efeae3;
  --black: #0b0500;
  --orange: #fe330a;
  --yellow: #ff9831;
}

/* ======= loader ============ */
#loader {
  position: fixed;
  background-color: #0b0500;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader h1 {
  background: linear-gradient(
    90deg,
    rgb(255, 89, 23),
    rgb(230, 73, 11),
    rgb(233, 62, 0) 90%
  );
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  animation-name: loader;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
}

nav {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.list h4,
 .menubar{
  position: relative;
  padding: 10px 20px;
  border: 1px solid rgba(83, 83, 83, 0.562);
  border-radius: 50px;
  overflow: hidden;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list h4 a,
.menubar h4 a{
  text-decoration: none;
  font-family: thin-neuu;
  color: #0f0f0fc4;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  z-index: 9;
  position: relative;
}
/* menubar ---------> */

.bar1,
.bar2{
  background-color:  rgba(65, 65, 65, 0.726);
  height: 2px;
  width: 25px;
  transition: all .3s linear;
}
.bar2{
  margin-top: 4px;
}
.active.bar1{
  transform: rotate(45deg);
}
.active.bar2{
  transform: rotate(-45deg);
  margin-top: -1px;

}
.menubar{
  display: none;
  }
  .menubar h4 a{
    padding-left: 15px;
  }
.OverlayToggle.menubar-overlay{
  top: 0;
}
  .menubar-overlay{
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #0000005b;
    transition: all .4s linear;
  }
  .OverlayToggle.menubarOverlay-content{
    top: 0;
  }
  .menubarOverlay-content{
    position: relative;
    top: -100%;
    height: 70%;
    background-color: var(--bgcolor);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all .5s linear;
  }
  .menubarOverlay-content h4{
    text-align: right;
    position: relative;
    padding:0 7%;
    top: 30%;
    font-size: 5rem;
  }

/* <----------------> */

.list h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 1;
}
.list h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.list h4:hover a {
  color: white;
}

#hero {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 5%;
}

.left {
  width: 30%;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}
.right {
  position: relative;
}
.right h1 {
  font-size: 9rem;
  line-height: 8rem;
  text-align: end;
}
.motion {
  height: 57vh;
  width: 47vw;
  position: absolute;
  background-color: var(--orange);
  bottom: -90%;
  right: -29px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
}
.motion1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--orange), rgb(255, 79, 10));
  border-radius: 100%;
  animation-name: anime;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  filter: blur(30px);
  position: absolute;
}
.motion2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--orange), rgb(255, 108, 10));
  border-radius: 100%;
  animation-name: anime1;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  filter: blur(30px);
  position: absolute;
}
.motion3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--orange), rgb(255, 79, 10));
  border-radius: 100%;
  animation-name: anime2;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  filter: blur(30px);
}
@keyframes anime {
  from {
    transform: translate(-10%, 10%);
  }
  to {
    transform: translate(10%, -10%);
  }
}
@keyframes anime1 {
  from {
    transform: translate(-6%, 10%);
  }
  to {
    transform: translate(-3%, 15%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(-6%, 10%);
  }
  to {
    transform: translate(-3%, -15%);
  }
}
.vedio {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
}
video {
  width: 100%;
  border-radius: 20px;
  position: relative;
}

/* moving text */
.moving-text {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  white-space: nowrap;
  overflow-x: scroll;
}
@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.moving-text::-webkit-scrollbar {
  display: none;
}
.cont {
  white-space: nowrap;
  display: inline-block;
  animation-name: moving;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.cont h1 {
  font-size: 8rem;
  display: inline-block;
}
.cont .circle {
  width: 60px;
  height: 60px;
  background-color: var(--orange);
  border-radius: 50%;
  display: inline-block;
  margin: 2vh 2vw;
}
#main-2 {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
}
.part-1 {
  width: 70%;
  align-self: flex-start;
  position: relative;
  z-index: 1;
}
.part-1 h1 {
  font-size: 4rem;
  line-height: 4rem;
}
.part-2 {
  width: 24%;
  align-self: self-end;
}
.part-2 img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.part-2 p {
  width: 100%;
  margin: 14% 0;
  font-family: thin-neuu;
  font-size: 1em;
  line-height: 1.1;
}
/* ************ moving-circle *************  */

.moving-circle {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 20%;
  top: 34%;
  z-index: -2;
}
.crcl-1 {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--orange), orangered);
  border-radius: 50%;
  position: absolute;
  animation: crcl 4s infinite alternate linear;
  filter: blur(30px);
}
.crcl-2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--orange), #f98e0a);
  border-radius: 50%;
  position: absolute;
  animation: crcl1 4s infinite alternate linear;
  filter: blur(50px);
}
@keyframes crcl {
  from {
    transform: translate(10%, 0) skew(0);
  }
  to {
    transform: translate(-5%, 5%) skew(-10deg);
  }
}
@keyframes crcl1 {
  from {
    transform: translate(15%, 0) skew(0);
  }
  to {
    transform: translate(-10%, 15%) skew(-10deg);
  }
}
/* ***** main-3 ********* */
#main-3 {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  min-height: 100vh;
}
.feature {
  display: flex;
  align-items: center;
  gap: 7px;
}
.feature h6 {
  font-family: thin-neuu;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}
.small-crcl {
  background-color: var(--orange);
  border-radius: 100vw;
  width: 0.5em;
  height: 0.5em;
}
.elem-container {
  margin-top: 80px;
}
.elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.685);
  padding-bottom: 30px;
  margin: 0 -2.2vw;
  padding: 5vh 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
}
.overlay {
  position: absolute;
  top: -100%;
  background-color: #ff9831;
  height: 100%;
  width: 100%;
  transition: all 0.2s linear;
}
.elem:hover .overlay {
  top: 0;
}
.elem h1 {
  font-size: 3.25em;
  font-family: neuu;
  line-height: 1.1;
  margin-left: 2.2vw;
  position: relative;
  z-index: 10;
}
.small-heading {
  margin-right: 2.2vw;
  text-align: end;
  position: relative;
  z-index: 10;
}
.small-heading h6 {
  font-family: thin-neuu;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.1;
}
.small-heading p {
  color: rgba(0, 0, 0, 0.4);
  font-family: thin-neuu;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.3;
}
.fixed-img {
  height: 60vh;
  width: 22vw;
  position: fixed;
  z-index: 60;
  top: 5%;
  left: 52%;
  border-radius: 15px;
  display: none;
  transition: all 0.3s linear;
  background-size: cover;
  background-position: center;
}
.feature-btn {
  margin: 40px 0;
}
.feature-btn .btn {
  border: 1px solid grey;
  width: 12vw;
  text-align: center;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100vw;
  gap: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.feature-btn .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 80%;
  bottom: -100%;
  left: 0;
  transition: all 0.3s linear;
}
.feature-btn .btn:hover:after {
  bottom: 0;
  border-radius: 0%;
}
.feature-btn .btn:hover a,
.feature-btn .btn:hover svg {
  color: white;
  position: relative;
  z-index: 2;
}
.feature-btn a {
  line-height: 1.4;
  font-family: thin-neuu;
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  padding: 0 6px;
}

/* Style the tab */

#main-4 {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  min-height: 100vh;
  display: flex;
}

.tab {
  background-color: var(--black);
  width: 45%;
  height: 800px;
  margin: auto 0;
  padding: 25vh 11vw;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  color: rgb(82, 82, 82);
  background: transparent;
  width: 100%;
  text-align: start;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 4rem;
  padding-left: 5%;
  z-index: 2;
  position: relative;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #808080;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #fff;
  border-left: 3px solid red;
}
.para {
  width: 24vw;
}
.para p {
  color: #efeae3;
  margin-top: 10%;
  font-family: thin-neuu;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
}
/* Style the tab content */
.alltabcontents {
  width: 70%;
}
.tabcontent img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.tabcontent {
  border: 1px solid #ccc;
  border-left: none;
  height: 800px;
  display: none;
  transition: all 0.3s linear;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.line {
  position: relative;
}
.line::before {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 227px;
  left: -1px;
  top: 4px;
  background-color: #5a5959;
}

/* main-5 */

#main-5 {
  background: var(--bgcolor);
  padding: 4.8vh 2.2vw;
  height: 70vh;
}
#main-6 {
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 60%;
  margin-top: 5%;
}

.swiper-slide {
  font-size: 18px;
  border-left: 1px solid #adabab;
  padding-left: 2%;
  width: 50%;
}

.swiper-slide img {
  object-fit: cover;
  margin-bottom: 6%;
}

.swiper-slide {
  width: 25%;
}
.swiper-slide p {
  color: var(--black);
  font-family: thin-neuu;
  font-size: 1rem;
  line-height: 1.4;
}

/* footer --------> */

.footer-wrapper {
  background-color: #000;
  color: white;
  position: fixed;
  bottom: 0;
  height: 100vh;
  margin-bottom: 20px;
  width: 100%;
  z-index: 9;
}

.footerTopHeading {
  position: relative;
  padding: 4% 7%;
  display: flex;
  justify-content: space-between;
}
.footerTopHeading::after {
  position: absolute;
  content: "";
  background-color: #fe330a;
  filter: blur(45px);
  left: -30%;
  top: -50vh;
  height: 90vh;
  width: 90vw;
  transform: rotate(-20deg);
  z-index: -1;
  animation: footermov 5s infinite alternate-reverse;
}
@keyframes footermov {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.footerTopRight p::before {
  position: absolute;
  content: "";
  background-color: #fe330a;
  filter: blur(45px);
  left: 30%;
  top: -50%;
  height: 60vh;
  width: 100vw;
  transform: rotate(30deg);
  z-index: -1;
  animation: footermov1 5s infinite alternate-reverse;
}
@keyframes footermov1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.footerTopLeft > h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 10%;
  z-index: 10;
}
.footerTopRight p {
  font-size: 1.3rem;
  line-height: 1.3;
  font-family: thin-neuu;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 10%;
}
.footerTopRight input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(184, 184, 184);
  padding: 5px 0;
}
.footerTopRight input::placeholder {
  font-size: 1.2rem;
  font-family: thin-neuu;
  color: #b4b4b4;
  font-weight: 400;
}
.footerTopRight .svg {
  position: relative;
}
.footerTopRight svg {
  fill: rgb(240, 240, 240);
  position: absolute;
  right: -20px;
}

.footerBottomHeading > h1 {
  font-size: 19.5rem;
  text-transform: capitalize;
  text-align: center;
}
.links {
  padding-top: 25px;
  border-top: 1px solid #808080;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}
.links a {
  font-family: thin-neuu;
  font-weight: 400;
}
